
p.mb1 {
  margin-bottom: 1em;
}

div.timerDisplay {
  font-size: xx-large;
}

body {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}

.canvas-wrapper {
  position: relative;
}

.canvas-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  transform:rotate(-90deg);
}

.form-wrapper {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}

#flexbox01 {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

#btnset {
  width: 40px;
}

#flexbox02 {
  width: 300px;
  display: flex;
  justify-content: space-around;
}