body {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}


.canvas-wrapper {
  transform:rotate(-90deg);
  width: 400px;
  /* border: solid; */
}


.form-wrapper {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}