
p.mb1 {
  margin-bottom: 1em;
}

div.timerDisplay {
  font-size: xx-large;
}

body {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}

#canvas-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  border: solid 1px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  rotate: -90deg;
  /* border: solid 3px black; */
}

#canvas-text {
  top: 0;
  left: 0;

  position: absolute;
  /* border: dotted 3px red; */
}



.form-wrapper {
  font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}

#flexbox01 {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

#btnset {
  width: 40px;
}

#flexbox02 {
  width: 300px;
  display: flex;
  justify-content: space-around;
}